{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <title>Sobre Lalcec</title>
  
</head>

<body>
  <div class="container marketing">

    <div class="row">
      <div class="col-lg-6">
        <img class="rounded-circle" src="static/img/p1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Acerca de Lalcec</h2>
        <p>La Liga Argentina de Lucha Contra El Cáncer es una Organización de la Sociedad Civil, creada el 22 de julio de 1921 por la señora Helena Larroque de Roffo quien ya, desde esa época afirmaba que la manera de combatir el cáncer es a través de la prevención y la detección temprana.</p>
      </div>
      <div class="col-lg-6">
        <img class="rounded-circle" src="static/img/p2.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Nuestra organización</h2>
        <p>Al igual que su fundadora, Lalcec es una organización fuerte, comprometida y dinámica, que participa de diferente redes con pares, empresas y gobiernos, teniendo presencia activa a nivel nacional e internacional. L.A.L.C.E.C.
           tiene su sede central en la Ciudad Autónoma de Buenos Aires y cuenta con más de 100 representaciones en todo el país, con las cuales trabaja conjuntamente en la lucha contra del cáncer.</p>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nuestra historia en Caña de Gómez</h2>
        <p class="lead">Lalcec Cañada de Gómez es una O.N.G. que trabaja en prevención oncológica desde el 14 de septiembre de 1961.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="static/img/p3.jpg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Nuestros Valores</h2>
        <p class="lead">Nuestros valores fueron transmitidos a través de los años. Son el respeto por el paciente y la información que se brinda en las campañas de prevención.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="static/img/img5.jpeg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Nuestra Misión</h2>
        <p class="lead">Nuestra misión es concientizar en la prevención del cáncer y garantizar el derecho y acceso a la salud para quienes no cuenten con recursos económicos ni obra social.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="static/img/img8.jpeg" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Nuestra Visión</h2>
        <p class="lead">El paciente como eje central de nuestro trabajo , empoderarlo en la toma de decisiones, acompañarlo y exigir el trato humano en cualquier instancia de su enfermedad.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="static/img/img7.jpeg" alt="Generic placeholder image">
      </div>
    </div>

  </div>
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-2">
      <p class="text-muted">
        <h5>Lalcec Cañada de Gómez</h5>
      </p>
    </div>
    <div class="col mb-2">
      <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="{% url 'website:Informacion' %}" class="nav-link p-0 text-muted">Sobre Nosotros</a>
      </li>
      <li class="nav-item mb-2">
        <a href="{% url 'website:formulario' %}" class="nav-link p-0 text-muted">Donar</a>
      </li>
      <li class="nav-item mb-2">
      <a href="{% url 'website:noticias' %}" class="nav-link p-0 text-muted">Noticias</a>
    </li>
    <li class="nav-item mb-2">
      <a href="{% url 'website:eventos' %}" class="nav-link p-0 text-muted">Eventos</a>
    </li>
      </ul>
    </div>
    <div class="col mb-2">
			<ul class="nav flex-column">
				<h5>Contáctanos</h5>
			<li class="nav-item mb-2 text-muted">
				Teléfono : 3741-112233
			</li>
			<li class="nav-item mb-2 text-muted">
				Domicilio: Sarmiento 148
			</li>
			<li class="nav-item mb-2 text-muted">
				Correo Electrónico: contacto@lalcec.org.ar
			</li>
			</ul>
		  </div>
      <div class="col mb-2">
      <ul class="nav flex-column">
        <h5>Nuestras Redes</h5>
        <li class="nav-item mb-2">
        <a href="https://www.facebook.com/alcec.canadadegomez/" class="nav-link p-0 text-muted">Facebook</a>
      </li>
        <li class="nav-item mb-2">
        <a href="https://www.instagram.com/lalceccdadegomez/?hl=es-la" class="nav-link p-0 text-muted">Instagram</a>
      </li>
      </ul>
      </div>
    </footer>
  </div>
</body>
</html>

{% endblock %}