{% extends 'layoutAdmin.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href= "{% static 'css/home.css' %}">
  <title>Administrador Eventos</title>
</head>
<body>
    <div class="offset-md">
        <a class="btn btn-light" href="{% url 'website:homeAdministrador' %}">Volver</a>
        <a class="btn btn-info" href="{% url 'website:nuevoEvento' %}">Subir nuevo evento</a>    
    </div>

    <div class="listaEventos">
        {% if eventos %}
        {% for evento in eventos %}
        <p><h4>{{ evento.titulo_evento }}</h4><br>
            <a class="btn btn-danger" href="{% url 'website:eventosDelete' evento.id_evento %}">Eliminar Evento</a>
            <a class="btn btn-warning" href="{% url 'website:modificarEvento' evento.id_evento %}">Modificar</a>
        </p>
        {% endfor %}

        {% else %}
        <h2>No hay eventos</h2>

        {% endif %}
    </div>
</body>
</html>
{% endblock %}
