{% extends 'layoutAdmin.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href= "{% static 'css/home.css' %}">
  <title>Nueva Noticia</title>
</head>
<body>
    <div class="offset-md-1">
        <p><div class="nuevaNoticia">Subir nueva noticia</div></p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <button name="btnResetar" type="reset" class="btn btn-danger">Borrar Noticia</button>
            <button name="btnEnviar" type="submit" class="btn btn-primary">Publicar Noticia</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
