{% extends 'layoutAdmin.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href= "{% static 'css/home.css' %}">
  <title>Administrador Solicitudes</title>
</head>
<body>
    <a class="btn btn-light" href="{% url 'website:homeAdministrador' %}">Volver</a><br>

    <h2 class="primerEncabezado">Listado de solicitudes para asociarse a Lalcec Cañada de Gómez</h2>

        <div class="listaFormularios" style="background-color:#FCF6F6">

            {% if solicitudes %}
            {% for solicitud in solicitudes %}
            <p>
                <ul>Fecha de solicitud: {{ solicitud.fecha }}</ul>
                <ul>Apellido: {{ solicitud.apellido }}</ul>
                <ul>Nombre: {{ solicitud.nombre }}</ul>
                <ul>DNI: {{ solicitud.dni }}</ul>
                <ul>Domicilio: {{ solicitud.domicilio }}</ul>
                <ul>Localidad: {{ solicitud.localidad }}</ul>
                <ul>Teléfono: {{ solicitud.telefono }}</ul>
                <ul>Método de pago: {{ solicitud.pago }}</ul>
                <a class="btn btn-danger" href="{% url 'website:solicitudesDelete' solicitud.id_formulario %}">Eliminar Formulario</a>
            </p>
            {% endfor %}

            {% else %}
            <h2>No existen solicitudes</h2>
            {% endif %}
        </div>
    
</body>
</html>
{% endblock %}
