* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



header {
  background: #ddaa03;
  
  width: 100%;
  clear: both;
  content:'';
  display: table;
}

header h1{
  color: white;
  font-size: 2rem;
  text-align: center ;
}


body{
    background: #eee;
  }
  span{
    font-size:15px;
  }
  a{
  text-decoration:none; 
  color: #8e9c09;
  border-bottom:2px solid #8e9c09;
  }
  .box{
    padding:60px 0px;
  }
  
  .box-part{
    background:rgb(230, 219, 219);
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
  }
  .text{
    margin:20px 0px;
  }
  
  .fa{
     color:#768394;
  }
  

  

  .hr {
    height: 200px;
    width: 100%;
    margin-top: 0px;
    padding: 10px;
    color: #8e9c09;
    opacity: 100%;
  }
