{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 	
	<link rel="stylesheet" href= "{% static 'css/prostata.css' %}">
  <title>Lalcec Cda Gomez</title>
  
</head>
<header>	
    <!-- Barra de Navegacion -->
    <div class="menu">
      <!-- <img src="img/logo.jpg" alt=""> -->
      <h1>Lalcec Cañada De Gomez</h1>
      <nav>
        <ul>
          <li><a href="{% url 'website:Home' %}">Inicio</a></li>
          <li><a href="{% url 'website:Informacion' %}">¿Quienes Somos?</a></li>
          <li><a href="{% url 'website:noticias' %}">Noticias</a></li>
          <!-- Revisar el hipervinculo de contacto cuando este listo -->
          <li><a href="{% url 'website:eventos' %}">Eventos</a></li>
          <li><a href="{% url 'website:formulario' %}">Donar</a></li>
      </ul>
      </nav>
    </div>
  </header>

<body>
  <div class="container">
    <h1 class="maintitle">Cáncer de Próstata</h1>

    <p class="informacion">¿Sabías que 1 de cada 6 hombres tendrá cáncer de próstata en algún momento de su vida?</p>
    
    <h2 class="subtitle">¿Qué es?</h2>
    <p class="texto">
      Es el crecimiento descontrolado de células anormales de la próstata, una glándula que solo tienen los hombres.
    </p>

    <h2 class="subtitle">¿A quiénes afecta?</h2>
    <p class="texto">
      La edad (ser mayor de 65 años) junto a los antecedentes familiares son los principales factores de riesgo de cáncer de próstata que tienen los hombres. 
    </p>

    <h2 class="subtitle">Sus síntomas</h2>
    <p class="texto">
      En muchos casos el cáncer de próstata temprano no causa ningún síntoma, por lo que ante cualquier manifestación o cambio consulte con su médico. Los síntomas más comunes son los cambios al momento de orinar. Estos pueden ser:
    </p>
      <ul>
        <li>Bajo flujo o frecuencia</li>
        <li>Dolor</li>
        <li>Sangrado</li>
      </ul>

    <h2 class="subtitle">¿Se puede detectar tempranamente?</h2>
    <p class="texto">
      Si, es posible llegar al diagnóstico precoz y dar lugar a mejores posibilidades de tratamiento con los siguientes estudios:
      </p>
      <ul>
        <li>Examen de tacto rectal</li>
        <li>Prueba de antígeno prostático específico (PSA)</li>
        <li>Los estudios mencionados son complementarios y deben realizarse una vez por año a partir de los 50 años</li>
      </ul>
    
    <p class="texto">
      Debe visitar al médico una vez por año a partir de los 50 años para que le indique el mejor estudio según su caso particular.
    </p>

    <h2 class="subtitle">¿Se puede prevenir el cáncer de próstata?</h2>
    <p class="texto">Mantener hábitos de vida saludables ayudan a reducir hasta un 40 % la probabilidad de contraer cualquier tipo de cáncer. Realizar los controles urológicos anuales ayuda a detectar más tempranamente la enfermedad y así reducir las probabilidades de tratamientos más invasivos.
    </p>
  </div>
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-2">
      <p class="text-muted">
        <h5>Lalcec Cañada de Gómez</h5>
      </p>
    </div>
    <div class="col mb-2">
      <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="{% url 'website:Informacion' %}" class="nav-link p-0 text-muted">Sobre Nosotros</a>
      </li>
      <li class="nav-item mb-2">
        <a href="{% url 'website:formulario' %}" class="nav-link p-0 text-muted">Donar</a>
      </li>
      <li class="nav-item mb-2">
      <a href="{% url 'website:noticias' %}" class="nav-link p-0 text-muted">Noticias</a>
    </li>
    <li class="nav-item mb-2">
      <a href="{% url 'website:eventos' %}" class="nav-link p-0 text-muted">Eventos</a>
    </li>
      </ul>
    </div>
    <div class="col mb-2">
			<ul class="nav flex-column">
				<h5>Contáctanos</h5>
			<li class="nav-item mb-2 text-muted">
				Teléfono : 3741-112233
			</li>
			<li class="nav-item mb-2 text-muted">
				Domicilio: Calle 123
			</li>
			<li class="nav-item mb-2 text-muted">
				Correo Electrónico: lalcec@gmail.com
			</li>
			</ul>
		  </div>
      <div class="col mb-2">
      <ul class="nav flex-column">
        <h5>Nuestras Redes</h5>
        <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-muted">Facebook</a>
      </li>
        <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-muted">Instagram</a>
      </li>
      </ul>
      </div>
    </footer>
  </div>
  </body>